%html
  %head
    %title MovieTrail
    %script{:src => "/js/OpenLayers.js", :type => "text/javascript"}
    %script{:src => "/js/Animation.js", :type => "text/javascript"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Bevan',  :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/styles.css',  :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div#wrapper
      %div#top
        %div#top-bar-bg
          %div.logo
            = 'MovieTrail'
      =yield
