*{
	margin:0;
	padding:0;
}
body{
	color: #333;
	font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
	background-color: #444;
}
#wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#top {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #000;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.16, rgb(51,51,51)),
	    color-stop(0.58, rgb(34,34,34)),
	    color-stop(0.79, rgb(17,17,17))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(51,51,51) 16%,
	    rgb(34,34,34) 58%,
	    rgb(17,17,17) 79%
	);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#top-bar-bg {
    margin: 0 auto;
    max-width: 1120px;
    min-width: 1000px;
}

.logo {
	font-family: 'Bevan', georgia, times, serif;
	margin: 20px 0;
	padding: 10px 0 0 15px;
	float: left;
	color: #FFF;
}
.content-wrapper {
	margin: 100px auto 0 auto;
    max-width: 1120px;
    min-width: 1000px;
    text-align: left;
}
.content-wrapper-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    float: left;
    position: relative;
    width: 540px;
    z-index: 4;
}
.stream-item {
	padding: 10px 15px;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid transparent;
	clear: both;
	display: block;
	margin-top: -1px;
	min-height: 60px;
	outline: medium none;
	position: relative;
}

.day {
	
}
.night {
	color: white;
	background-color: #000;
}
.crew-image {
	float: left;
	height: 48px;
	margin-top: 3px;
	overflow: hidden;
	width: 48px;
	background: #EEE;
}
.stream-content {
	margin: 0 0 0 58px;
}

.crew-image img {
   width: 48px;
}

.people img {
   height: 30px;
}

.movie-content {
	margin: 0 0 0 58px;
	text-align: right;
}
.crew {
	font-weight: bold;
}
.crew span {
	font-weight: normal;
	color: #FF6600;
	padding: 0 0 0 5px;
	font-size: 12px;
	text-transform: uppercase;
}
.crew span.time {
	color: #999999;
   }
.content {
	line-height: 16px;	
}
#infoboard {
    border-top-right-radius: 5px;
    width: 460px;
    overflow: hidden;
    padding: 12px 20px;
    position: fixed;
	background: none repeat scroll 0 0 rgba(238, 238, 238, 0.9);
	height: 100%;
	margin: 0 0 0 535px;
}
.info-item {
	    background: none repeat scroll 0 0 #F8F8F8;
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	    margin: 6px 0 1em;
	    padding: 8px 14px 12px;
	    text-shadow: 0 1px 0 #FFFFFF;
}
#infoboard .info-item {
	height: 150px;
}
.selected {
	background-color: #FFFFCC;
}
.night.selected {
	background-color: #FFCC00;
}
.movie {
	padding: 20px 15px 10px 15px;
	border-bottom: 1px solid #EBEBEB;
	min-height: 138px;
}
.movie-poster {
	height: 128px;
	min-width: 90px;
	float: left;
	background-image: url(http://cf1.imgobject.com/posters/c13/4bc90aca017a3c57fe003c13/goldfinger-cover.jpg);
}
.movie-details {
	margin: 0 100px;
}
.movie-title {
	font-size: 26px;
	font-weight: bold;
}
/* timeline */
#map{
	height: 250px;
	width: 460;
	font-size: 9px;
	color: #666;
	font-weight: normal;
}
#map a {
	color: #666;
	font-weight: normal;
	font-size: 9px;
	margin: 0;
    padding: 0;
    position: static;
    text-shadow: 0 0 0 #FFF;
}
#map a:hover, #map:active {
	color: #000;
}

#screenshot {
	height: 280;
	width: 460px;
}

#screenshot img {
	width: 460px;
}

.logo {
	font-size: 200%;
	margin: 10px 0 20px 0;
}

.minute-box {
	position: relative;
	border: 1px solid #CCC;
	width: 100px;
	min-height: 150px;
	float: left;
	margin: 0 0 0 -86px;
	padding: 5px;
	background: #EEE;
}
.time {
	font-size: 130%;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.place {
	font-size: 110%;
	margin: 0 0 10px 0;
}
.cast-list {
	list-style-type: none;	
}
a {
    font-size:16px;
    color:#000;
    padding:2px;
    margin:2px;    
    position:relative;
    text-shadow: 0 1px 0 #57575d;
}
.timeline{
	width:960px;
	height:10px;
	background: #eee;
	margin-bottom: 20px;
}
